@font-face {
    font-family: 'inter';
    src: url('./../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf'),
        url('./../assets/fonts/inter/static/Inter-Bold.ttf'),
        url('./../assets/fonts/inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'lora';
    src: url('./../assets/fonts/lora/static/Lora-Bold.ttf'),
        url('./../assets/fonts/lora/static/Lora-BoldItalic.ttf'),
        url('./../assets/fonts/lora/static/Lora-Regular.ttf'),
        url('./../assets//fonts/lora/Lora-VariableFont_wght.ttf'),
        url('./../assets//fonts/lora/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'inconsolata';
    src: url('./../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf'),
        url('./../assets/fonts/inconsolata/static/Inconsolata-Regular.ttf'),
        url('./../assets/fonts/inconsolata/static/Inconsolata-Bold.ttf');
}

:root {
    // NOT SHARED VALUES
    --color-white: hsla(0, 0%, 100%, 1);
    --color-purple: hsla(274, 82%, 60%, 1);
    --color-purple-25: hsla(274, 82%, 60%, 0.25);
    --color-border-right: hsla(0, 0%, 91%, 1);
    --color-gray: hsla(0, 0%, 46%, 1);
    --color-red: hsla(0, 100%, 66%, 1);

    // THEME FONT & MARGIN
    --font-family-current: 'inter', sans-serif;
    --left-circle: 3px;

    // THEME COLORS
    --color-bg: hsla(0, 0%, 100%, 1);
    --color-text: hsla(0, 0%, 18%, 1);
    --color-toggler: hsla(0, 0%, 46%, 1);
    --color-popup-bg: hsla(0, 0%, 100%, 1);
    --color-popup-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    --color-input-bg: hsla(0, 0%, 96%, 1);
    --color-border: hsla(0, 0%, 91%, 1);

    // THEME: PLAY BUTTONS
    --opacity-play: 1;
    --color-play-purple: hsla(274, 82%, 60%, 1);
    --color-play-white: hsla(0, 0%, 100%, 1);
    --display-inactive: none;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-current);
    background-color: var(--color-bg);
    transition: background-color 0.15s;
}

input {
    font: inherit;
}

.main {
    max-width: 548px;
    padding: 24px 24px 85px 24px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        max-width: 817px;
        padding: 58px 40px 124px 40px;
    }
}

.load-sans-font {
    font-family: 'inter', sans-serif !important;
}

.load-serif-font {
    font-family: 'lora', serif !important;
}

.load-mono-font {
    font-family: 'inconsolata', monospace !important;
}

.load-sans-font,
.load-serif-font,
.load-mono-font {
    position: fixed;
    z-index: -10;
    opacity: 0;
}
