// // // // // // // // // // // // // // //

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

    @media only screen and (min-width: 768px) {
        padding-bottom: 51.5px;
    }
}

.logo {
    width: 28px;
    height: 32px;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        width: 32px;
        height: 36.5px;
    }
}

.box {
    display: flex;
    align-items: center;
    height: 32px;
}

// // // // // // // // // // // // // // //

.dd {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--color-border-right);
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        padding-right: 26px;
        margin-right: 26px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;

        color: var(--color-text);
        transition: color 0.15s;

        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    &__icon {
        margin-left: 16px;

        @media only screen and (min-width: 768px) {
            margin-left: 18px;
        }
    }

    &__ul {
        position: absolute;
        z-index: 5;
        top: 45px;
        right: 26px;

        list-style: none;
        display: none;
        width: 150px;
        border-radius: 16px;
        padding: 16px 0;

        box-shadow: var(--color-popup-shadow);
        background-color: var(--color-popup-bg);
        transition: background-color 0.15s, box-shadow 0.15s;

        @media only screen and (min-width: 768px) {
            width: 183px;
        }

        &::after {
            content: '';
            position: fixed;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
        }
    }

    &__li {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        color: var(--color-text);
        transition: color 0.15s;

        padding: 8px 24px;

        &:nth-of-type(1) {
            font-family: 'inter', sans-serif !important;
        }

        &:nth-of-type(2) {
            font-family: 'lora', serif !important;
        }

        &:nth-of-type(3) {
            font-family: 'inconsolata', monospace !important;
        }

        &:hover {
            color: var(--color-purple);
        }
    }
}

// // // // // // // // // // // // // // //

.themeToggler {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .toggler {
        background-color: var(--color-purple);
    }
}

.toggler {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    padding: 3px;
    position: relative;
    margin-right: 12px;
    background-color: var(--color-toggler);
    transition: background-color 0.15s;

    @media only screen and (min-width: 768px) {
        margin-right: 20px;
    }
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: var(--color-white);
    position: absolute;
    top: 3px;
    left: var(--left-circle);
    transition: left 0.15s;
}

.iconBox {
    display: flex;
    align-items: center;
}

.moonIcon {
    width: 20px;
    height: 20px;

    path {
        transition: stroke 1s;
        stroke: var(--color-toggler);
    }
}

// // // // // // // // // // // // // // //
