// // // // // // // // // // // // // // //

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.logo {
    width: 28px;
    height: 32px;
}

.box {
    display: flex;
    align-items: center;

    height: 32px;
}

// // // // // // // // // // // // // // //

.dd {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--color-border-right);
    cursor: pointer;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;

        color: var(--color-text);
        transition: color 0.15s;
    }

    &__icon {
        margin-left: 16px;
    }

    &__ul {
        list-style: none;

        position: absolute;
        z-index: 5;
        top: 45px;
        right: 26px;

        width: 150px;
        // width: 183px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 24px;

        background-color: var(--color-bg);
        transition: background-color 0.15s;
    }

    &__li {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        color: var(--color-text);
        transition: color 0.15s;

        &:nth-of-type(1) {
            font-family: 'inter', sans-serif;
        }

        &:nth-of-type(2) {
            font-family: 'lora', serif;
        }

        &:nth-of-type(3) {
            font-family: 'inconsolata', monospace;
        }

        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
}

// // // // // // // // // // // // // // //

.themeToggler {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.toggler {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    padding: 3px;
    background-color: var(--color-toggler);
    position: relative;
    margin-right: 12px;

    .circle {
        width: 14px;
        height: 14px;
        border-radius: 50px;
        background-color: var(--color-white);
        position: absolute;
        top: 3px;
        left: var(--ml-circle);
    }
}

.iconBox {
    display: flex;
    align-items: center;
}

.moonIcon {
    width: 20px;
    height: 20px;

    path {
        stroke: var(--color-toggler);
    }
}

// // // // // // // // // // // // // // //
